<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Книги</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Книги</a></li>
        <li><a href="#">Добавить книги</a></li>
      </ul>
    </div>
  </nav>